@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-header: var(--font-montserrat, Arial, sans-serif);
  --font-text: var(--font-work-sans, Arial, sans-serif);
  --font-sans: var(--font-work-sans);
}

@layer base {
  body {
    @apply bg-background font-text;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply font-header;
  }
  h1 {
    font-size: clamp(1.875rem, 5vw, 3.2rem);
    /* font-size: clamp(1.29rem, 5vw, 3.2rem); */
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  .toggle-switch {
    width: 2.75rem;
    height: 1.5rem;
    appearance: none;
    position: relative;
    background-color: #a8deff;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
  }
  .toggle-switch::before {
    content: '';
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    transform: translate3d(2px, 2px, 0);
    box-shadow: 1px 1px 4px rgb(0 0 0 / 0.3);
    transition: transform 0.1s ease-in-out;
  }
  .toggle-switch:checked {
    background-color: #26adff;
  }
  .toggle-switch:checked::before {
    transform: translate3d(calc(1.25rem + 2px), 2px, 0);
  }
  .grecaptcha-badge {
    display: none !important;
  }
  .menu-icon {
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 35px;
    height: 30px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
  }
  .line {
    border-radius: 3px;
    width: 100%;
    height: 6px;
    background-color: #333;
    position: absolute;
    transition: transform 0.2s ease-out;
  }
  .line.top {
    top: 0;
  }
  .line.middle {
    top: 40%;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  .line.bottom {
    bottom: 0;
  }
  .menu-open .middle {
    opacity: 0;
  }
  .menu-open .top {
    transform: translateY(12px) rotate(45deg);
  }
  .menu-open .bottom {
    transform: translateY(-12px) rotate(-45deg);
  }

  .hamburger-menu {
    font-size: 1.45em;
    font-weight: 700;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 80px;
    right: -250px;
    background-color: var(--background);
    padding: 15px;
    width: 350px;
    height: 350px;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease-in-out;
    z-index: -1000;
  }
  
  .hamburger-menu-open {
    transform: translateX(-250px);
    opacity: 1;
  }
}
