@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-header: var(--font-montserrat, Arial, sans-serif);
  --font-text: var(--font-work-sans, Arial, sans-serif);
  --font-sans: var(--font-work-sans);
}

@layer base {
  body {
    @apply bg-background font-text;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply font-header;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
}
